name: Build Sphinx Documentation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Docker Compose
      run: |
        sudo apt-get install -y docker-compose  # Installer Docker Compose

    - name: Start the Docker container using Docker Compose
      run: |
        docker compose -f docker-compose.yml up -d  # Démarrer le conteneur en arrière-plan

    - name: Wait for the Sphinx container to finish
      run: |
        docker compose -f docker-compose.yml exec sphinx bash -c "while [ ! -f /docs/_build/html/index.html ]; do sleep 5; done"  # Attendre que la documentation soit générée

    - name: List files in the docs directory
      run: ls -R ${{ github.workspace }}/docs

    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/main'
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: docs/_build/html

    - name: Stop and remove Docker containers
      run: docker-compose -f docker-compose.yml down  # Nettoyage des conteneurs après la génération
